.property-list-group .property-item {
  cursor: pointer;
}

.property-list-group .property-item:nth-child(even) {
  background-color: rgba(255,255,255, 1);
}

.property-list-group .property-item:nth-child(even):hover {
  background-color: rgba(51,122,183,.1);
}

.property-list-group .property-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.property-list-group .property-item:nth-child(odd):hover {
  background-color: rgba(51,122,183,.15);
}

.property-item-header, .property-item {
  padding: 8px 8px 8px 16px;
}

.property-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

.properties-scroll {
  height: 100%;
  display: inline-block;
}

.actions-header {
  width: 21px;
}

.property-info-column {
  margin-left: 10px;
}

.sm-property-info-column {
  width: 40px;
}

.md-property-info-column {
  width: 70px;
}

.lg-property-info-column {
  width: 90px;
}

.xlg-property-info-column {
  width: 154px;
}

.phone-number {
  width: 110px;
}

.email-address {
  width: 170px;
}

.num-units {
  text-align: center;
}

.edit-related {
  width: 52px;
}

.matching-cases {
  width: 240px;
}

.sm-property-info-column.sortable-column {
  width: 65px;
}

.property-item-header .sortable-column.num-beds {
  right: -.2em;
}

.property-item-header .sortable-column.sm-property-info-column {
  right: -1.1em;
}

.year-built.sortable-column {
  width: 59px;
}

.building-size.sortable-column {
  width: 59px;
}

.related-properties.sortable-column {
  width: 80px;
}

.related-properties {
  margin-right: 10px;
}

.matching-cases {
  margin-left: 10px;
}

.property-item-header .related-properties {
  right: -1em;
}

.lot-size.sortable-column {
  width: 60px;
}

.parcel-number {
  width: 134px;
}

.notes-column.is-not-editing {
  background-color: #fef9f7;
  padding: 10px;
}

.notes-column.is-editing {
  background-color: none;
}

.property-item-header .sortable-column {
  position: relative;
  cursor: pointer;
}

.property-item-header .sortable-column.building-size {
  right: -.8em;
}

.property-item-header .sortable-column.lot-size {
  right: -.8em;
}

.property-item-header .sortable-column.sold-date {
  right: -.8em;
}

.property-item-header .sortable-column.year-built {
  right: -.8em;
}

.sortable-column .sorting-arrows {
  color: #B1B4B8;
  font-size: 16px;
  margin-left: 4px;
  position: relative;
}

.sorting-arrows-desc {
  position: relative;
  right: .6em;
}

.sortable-column-desc .sorting-arrows-desc,
.sortable-column-asc .sorting-arrows-asc {
  color: #3277C2;
}

.editable-field.is-not-editing:hover {
  cursor: pointer;
  background: #ffffcc;
}
