.property-list-group .property-item:nth-child(even) {
  background-color: #fff;
}

.property-list-group .property-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.property-item-header, .property-item {
  padding: 8px 8px 8px 16px;
}

.property-list {
  height: 1000px;
  overflow-y: scroll;
}

.actions-header {
  width: 21px;
}

.sm-property-info-column {
  margin-left: 12px;
  width: 40px;
  text-align: center;
}

.md-property-info-column {
  margin-left: 16px;
  width: 70px;
  text-align: center;
}

.lg-property-info-column {
  width: 90px;
  margin-left: 16px;
  text-align: center;
}

.xlg-property-info-column {
  width: 160px;
}

.parcel-number {
  width: 134px;
}
