/*  Custom Database Search  */
.main-content .heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.main-content label {
  font-weight: 500;
}

.main-content .disabled {
  color: rgb(206, 212, 218);
}

.small-search-button {
  padding: 1px 12px !important;
  font-size: 10px;
}

.case-type-table-fixed {
  font-size: 13px;
}

.case-type-table-fixed > thead {
  height: 40px;
  padding-right: 14px;
}

.case-type-table-fixed > thead > tr {
  display: block;
}

.case-type-table-fixed > thead,
.case-type-table-fixed > tbody,
.case-type-table-fixed > tr,
.case-type-table-fixed > td,
.case-type-table-fixed > th {
  display: block;
}

.case-type-table-fixed > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.case-type-table-fixed > thead th {
  height: 30px;
  text-align: left;
}

.case-type-table-fixed > tbody {
  height: 321px;
  overflow-y: auto;
}

.case-type-table-fixed > i {
  font-size: 16px;
}

.case-status-type-table {
  font-size: 11px;
}
