.favorite-folder {
  width: 17em;
}

.unseen-updates {
  border: 2px solid #e5d997;
  background-color: #fffced;
}

.favorite-folder-link {
  cursor: pointer;
}

.favorite-folder-link:hover {
  background-color: #fafafa;
}
